modules = ["bash", "python-3.11"]

[deployment]
run = ["bash", "-c", "python3 src/agent_server.py"]
deploymentTarget = "cloudrun"

[workflows]

[[workflows.workflow]]
name = "Run Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/run_api_server.sh"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 5001
